<div class="auth-container">
  <div class="auth-toggle">
    <button class="toggle-btn" [class.active]="!isSignUp" (click)="setAuthMode(false)">Login</button>
    <button class="toggle-btn" [class.active]="isSignUp" (click)="setAuthMode(true)">Sign Up</button>
  </div>

  <div class="auth-form" *ngIf="isSignUp" [ngClass]="animationClass">
    <h2>Create Account</h2>
    <form>
      <div class="input-group">
        <span class="icon"><i class="fa fa-user"></i></span>
        <input type="text" name="fullName" #name="ngModel" [(ngModel)]="registerObj.fullName" placeholder="Full Name" required />
        <div class="danger-message">
          <span *ngIf="name.errors?.['required'] && name.touched">This is Required</span>
        </div>
      </div>

      <div class="input-group">
        <span class="icon"><i class="fa fa-envelope"></i></span>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="registerObj.emailId" placeholder="Email" required />
        <div class="danger-message">
          <span *ngIf="email.errors?.['required'] && email.touched">This is Required</span>
        </div>
      </div>

      <div class="input-group">
        <span class="icon"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" #pwd="ngModel" [(ngModel)]="registerObj.password" placeholder="Password" required />
        <span class="icon eye"><i class="fa fa-eye"></i></span>
        <div class="danger-message">
          <span *ngIf="pwd.errors?.['required'] && pwd.touched">This is Required</span>
        </div>
      </div>
      <div class="checkbox-group">
        <input type="checkbox" id="terms" />
        <label for="terms">
          I agree to the
          <a href="#">Terms of Service</a> and
          <a href="#">Privacy Policy</a>
        </label>
      </div>
      <button (click)="onRegister()" class="signup-btn">Sign Up</button>
    </form>
  </div>

  <div class="auth-form" *ngIf="!isSignUp" [ngClass]="animationClass">
    <h2>Login</h2>
    <form>
      <div class="input-group">
        <span class="icon"><i class="fa fa-envelope"></i></span>
        <input type="email" name="email" [(ngModel)]="loginObj.emailId"  placeholder="Email" required />
      </div>
      <div class="input-group">
        <span class="icon"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required />
        <span class="icon eye"><i class="fa fa-eye"></i></span>
      </div>
      <button (click)="onLogin()" class="signup-btn">Login</button>
    </form>
  </div>
</div>
