<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Welcome,</h2>
    <h2>
      <span class="user-email">sameen.piyasena&#64;goodstein.cloud (Administrator)</span>
    </h2>
  </div>
  <div class="dashboard-grid">
    <a class="dashboard-tile" routerLink="/account">
      <i class="fa fa-user"></i>
      <span>Account</span>
    </a>
    <a class="dashboard-tile" routerLink="/employee">
      <i class="fa fa-users"></i>
      <span>Employee</span>
    </a>
    <a class="dashboard-tile" routerLink="/events">
      <i class="fa fa-calendar"></i>
      <span>Events</span>
    </a>
    <a class="dashboard-tile" routerLink="/forms">
      <i class="fa fa-edit"></i>
      <span>Forms</span>
    </a>
    <a class="dashboard-tile" routerLink="/leads">
      <i class="fa fa-list"></i>
      <span>Leads</span>
    </a>
    <a class="dashboard-tile" routerLink="/email-manager">
      <i class="fa fa-envelope"></i>
      <span>Email Manager</span>
    </a>
    <a class="dashboard-tile" routerLink="/api-order">
      <i class="fa fa-cog"></i>
      <span>API Order</span>
    </a>
  </div>
</div>
